@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Roboto&display=swap");
@media (min-width: 0) {
  .res-test {
    color: red;
  }
}
@media (min-width: 480px) {
  .res-test {
    color: blue;
  }
}
@media (min-width: 720px) {
  .res-test {
    color: green;
  }
}
@media (min-width: 960px) {
  .res-test {
    color: purple;
  }
}
@media (min-width: 1200px) {
  .res-test {
    color: orange;
  }
}
@media (min-width: 1400px) {
  .res-test {
    color: pink;
  }
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(217, 85, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.menu {
  display: flex;
  flex-direction: row;
}
@media (min-width: 0) {
  .menu {
    width: 350px;
  }
}
@media (min-width: 480px) {
  .menu {
    width: 500px;
  }
}

.pomodoro-color {
  background-color: rgb(217, 85, 80);
}

.short-break-color {
  background-color: rgb(76, 145, 149);
}

.long-break-color {
  background-color: rgb(69, 124, 163);
}

.menu-btn {
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  height: 30px;
  align-items: center;
  cursor: pointer;
  color: white;
  background: none;
  border: none;
  background-color: rgba(173, 173, 173, 0.3);
  border-radius: 5px;
}

.menu-btn:hover {
  background-color: rgba(173, 173, 173, 0.6);
}

.menu-left {
  margin-right: 200px;
}
@media (min-width: 0) {
  .menu-left {
    margin-right: 0;
  }
}

.menu-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}

.title a {
  text-decoration: none;
  color: white;
}

.timer-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(173, 173, 173, 0.3);
  align-items: center;
  width: 500px;
  height: 300px;
  border-radius: 5px;
}
@media (min-width: 0) {
  .timer-container {
    width: 350px;
  }
}
@media (min-width: 480px) {
  .timer-container {
    width: 400px;
  }
}

.timer-top {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timer-top-btn {
  height: 30px;
  border: none;
  border-radius: 5px;
  background: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.timer-top-btn.selected {
  background: rgba(55, 116, 100, 0.3);
}

.timer-middle {
  color: white;
  font-size: 120px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
@media (min-width: 0) {
  .timer-middle {
    font-size: 90px;
  }
}
@media (min-width: 480px) {
  .timer-middle {
    font-size: 120px;
  }
}

.timer-bottom-btn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 5px;
  font-size: 25px;
  background-color: white;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color: rgb(58, 57, 57);
  box-shadow: rgb(235, 235, 235) 0px 6px 0px;
  cursor: pointer;
}
.timer-bottom-btn .selected {
  height: 47px;
  box-shadow: none;
}

.working-on {
  font-size: 20px;
  color: white;
  text-align: center;
}

.working-title {
  margin-bottom: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.working-task {
  margin-top: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.tasks-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid white;
  height: 50px;
  color: white;
}
@media (min-width: 0) {
  .tasks-header {
    width: 350px;
  }
}
@media (min-width: 480px) {
  .tasks-header {
    width: 400px;
  }
}

.tasks-header .title {
  margin-right: 400px;
  font-size: 20px;
}
@media (min-width: 0) {
  .tasks-header .title {
    margin-right: 200px;
  }
}
@media (min-width: 480px) {
  .tasks-header .title {
    margin-right: 300px;
  }
}

.header-btn {
  height: 30px;
  width: 30px;
  margin-left: auto;
  background: none;
  border: none;
  background-color: rgba(173, 173, 173, 0.3);
  border-radius: 5px;
  cursor: pointer;
}

.header-btn:hover {
  background-color: rgba(173, 173, 173, 0.6);
}

.header-btn > i {
  color: white;
}

.task-btn {
  height: 30px;
  width: 30px;
  margin-left: auto;
  background-color: rgb(70, 142, 145);
  cursor: pointer;
  background: none;
  border: none;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
}

.task-btn:hover {
  background-color: rgb(221, 80, 80);
}

.task-btn > i {
  color: rgb(58, 57, 57);
}

.task {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 60px;
  align-items: center;
  cursor: pointer;
}
.task:hover {
  border-left: 6px solid rgb(119, 118, 118);
}

.task.task-selected {
  border-left: 6px solid rgb(0, 0, 0);
}

.task .right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  font-size: 20px;
}

.task .left .title a {
  font-size: 30px;
  color: rgb(58, 57, 57);
}

.task-tracking {
  font-size: 30px;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
  color: rgb(58, 57, 57);
}

.add-task {
  border-radius: 5px;
  height: 60px;
  text-align: center;
  background-color: rgba(173, 173, 173, 0.3);
  border: 1px solid rgb(223, 223, 223);
  border-style: dotted;
}

.add-task {
  cursor: pointer;
  margin-top: 10px;
}
.add-task:hover {
  background-color: rgba(173, 173, 173, 0.6);
}

.add-task-btn {
  margin-top: 10px;
}

.add-task-title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.add-task a {
  text-decoration: none;
  color: white;
}

.tasks-info {
  display: flex;
  flex-direction: row;
  margin: 10px;
  justify-content: center;
  color: white;
}

.tasks-info > div {
  margin-left: 10px;
}

.est-value,
.act-value,
.finish-at-value {
  font-size: 24px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  justify-content: center;
  align-items: center;
}

/* Modal Content/Box */
.modal-content {
  width: 100px;
  /* Full width */
  height: 200px;
  /* Full height */
  background-color: #fefefe;
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */